<h1><%= @store.id ? 'Edit Dept' : 'Create Dept' %></h1>
<hr />
<%= form_for @store do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br />
<%= f.label :description %>
<%= f.text_area :description %>
<br />
<%= f.submit %>
<% end %>

