<h1><%= @store.name %><h1>
<h2><%= @store.description %><h2>
<hr />
<p>Where to next?</p>
<%= link_to 'View Store', stores_path(@store) %>
<%= link_to 'Edit Store', edit_store_path %>
<%= link_to 'Delete Store', @store, method: :delete, %>
<%= link_to 'Back', store_path(@store) %>