<h1><%= @store.name %><h1>
<h2><%= @store.description %><h2>
<hr />
<p>Where to next?</p>
<%= link_to 'View Dept', stores_path(@store) %>
<%= link_to 'Edit Dept', edit_store_path(@store) %>
<%= link_to 'Delete Dept', @store, method: :delete %>